{% extends 'todo/base.html' %}
{% block title %} REGISTER {% endblock %}
{% block content %}
	<div class="container-fluid" id="wrapper">
		<div class="d-flex justify-content-center" id="content">
			<div class="card border-success mt-3" style="max-width: 20rem;" id="card">
			  	<div class="card-header bg-primary p-5" id="card-header"><h2 class="text-white text-center">TO-DO APP</h2></div>
			  	<legend class="text-center mt-4">Registration Form</legend>
			  	<div class="card-body mt-1">
			  		<form method="post">
			  			{% csrf_token %}
				  		<div class="form-group">
					      	<label for="exampleInputEmail1">Username :</label>
					      	{{ form.username }}
					      	{% if error == 'Username unavailable. Please try another.' %}
					      	<small id="usernameHelp" class="form-text text-danger">{{error}}</small>
					      	{% endif %}
					    </div>
				  		<div class="form-group">
					      	<label for="exampleInputEmail1">Password :</label>
					      	{{ form.password }}
					    </div>
					    <div class="form-group">
					      	<label for="exampleInputEmail1">Confirm Password :</label>
					      	{{ form.password1 }}
					      	{% if error == 'Passwords do not match. Please try again'%}
					      	<small id="confirmHelp" class="form-text text-danger">{{error}}</small>
					      	{% endif %}
					    </div>
					    <div class="form-group py-3 d-flex justify-content-between">
						    <a href="/home">Login Page</a>
							<button type="submit" class="btn btn-info">Sign Up</button>
						</div>				    
				    </form>
			  	</div>
			</div>
		</div>

{% endblock %}
