{% extends 'todo/base.html' %}
{% block title %} REGISTER {% endblock %}
{% block content %}
	<div class="container-fluid" id="wrapper">
		<div class="d-flex justify-content-center" id="content">
			<div class="card border-success mt-3" style="max-width: 20rem;" id="card">
			  	<div class="card-header bg-primary p-5" id="card-header"><h2 class="text-white text-center">TO-DO APP</h2></div>
			  	<legend class="text-center mt-4">Registration Form</legend>
			  	<div class="card-body mt-1">
			  		<form>
				  		<div class="form-group">
					      	<label for="exampleInputEmail1">Username :</label>
					      	<input type="email" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Username">
					      	<small id="usernameHelp" class="form-text text-muted">Enter your username.</small>
					    </div>
				  		<div class="form-group">
					      	<label for="exampleInputEmail1">Password :</label>
					      	<input type="email" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Password">
					      	<small id="passwordHelp" class="form-text text-muted">Enter your password.</small>
					    </div>
					    <div class="form-group">
					      	<label for="exampleInputEmail1">Confirm Password :</label>
					      	<input type="email" class="form-control" id="password_1" aria-describedby="emailHelp" placeholder="Confirm Password">
					      	<small id="confirmHelp" class="form-text text-muted">Confirm your password.</small>
					    </div>
					    <div class="form-group py-3 d-flex justify-content-between">
						    <a href="/home">Login Page</a>
							<button type="submit" class="btn btn-info">Sign Up</button>
						</div>				    
				    </form>
			  	</div>
			</div>
		</div>
{% endblock %}
