body {
	background: rgba(44, 62, 80, .8);
	font-family: 'Oswald', 'Futura', sans-serif;
}
#wrapper{
	margin-top: 5%;
}
#content {
	background: beige;
	padding: 25px;
}

form{
	margin-top: 20px;
}
.field{
	color: #7b8a8b;
	margin-right: 10px;
	margin-top: 10px;
	min-width: 150px;
}
.add{
	margin-right: 10px;
	margin-top: 10px;
}
#title{
	text-align: center;
	background-color: red;
}
#list {
	margin-top: 25px;
}
.t10 {
	margin-top: 10px;
}
.t20 {
	margin-top: 20px;
}
ul{
	list-style: none;
}

.todo-completed {
	text-decoration: line-through;
}
footer {
	margin-top: 20px;
	color: white;
}
.list-group-item {
	color: black;
}


@media screen and (max-width:700px){

#priority{
	margin-top: 10px;
}
} 
